* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    color: #333;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
/* Header ----------------------------------*/
header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-titulo, .nav-logoimagen {
    margin: 0; 
}
.nav-navegador {
    flex: 1; 
    display: flex; 
    justify-content: center; 
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
.nav-logoimagen {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
/* Portada -----------------------------------------------*/
.hero-portada {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto; 
}
.hero-portada-image {
    flex: 1;
    background-image: url('img/PORTADA.png'); 
    background-size: cover; 
    background-position: center; 
    height: 500px; 
}
.hero-portada-text {
    background-color: #f37341; 
    color: white; 
    padding: 20px; 
    width: 300px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
}
.hero-portada-text h1 {
    margin: 0; 
    font-size: 4em; 
}
.hero-portada-text p {
    margin: 20px 0; 
}
/* Caracteristicas ----------------------------- */
.caracteristicas {
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
    max-width: 80%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.caracteristicas h2, .caracteristicas h3 {
    font-weight: bold;
    color: white;
}
.caracteristicas h2 {
    font-size: 3em;
}
.caracteristicas h3 {
    font-size: 2em;
}
.caracteristica-izquierda, .caracteristica-derecha, .caracteristica-abajo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    box-sizing: border-box;
}
.caracteristica-izquierda, .caracteristica-derecha {
    width: 48%;
    height: 350px;
    padding: 20px;
    margin-bottom: 20px;
}
.caracteristica-izquierda {
    background-image: url('img/adaptativa.jpg');
}
.caracteristica-derecha {
    background-image: url('img/atractiva.jpg');
}
.caracteristica-abajo {
    width: 100%;
    height: 400px;
    padding: 30px;
    background-image: url('img/depredadora.jpg');
}
/* Nuevas Plantas----------------*/
.nuevas-plantas {
    padding: 50px 0; 
    margin: 0 auto; 
    max-width: 80%; 
    text-align: center;
}
.nuevas-plantas h2 {
    font-size: 2.5rem; 
    margin-bottom: 30px; 
}
.plantas-img-container {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    list-style: none; 
}
.planta-img-item {
    width: 250px; 
    text-align: left; 
}
.planta-img-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.planta-img-item p {
    font: 1em; 
    margin: 10px 0;
}
.button-container {
    margin-top: 30px; 
    text-align: center; 
}
.button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold;  
}
/* Sección de Cuidados y Alimentacion----------------*/
.cuidado-alimentacion-section {
    max-width: 80%; 
    padding: 70px 0; 
    margin: 0 auto; 
}
.cuidado-alimentacion-caja {
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    align-items: center; 
}
.caja {
    display: flex; 
    align-items: center; 
    width: 100%; 
    box-sizing: border-box; 
}
.image-container, .info-container {
    flex: 1; 
}
.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.image-container img {
    width: 80%; 
    height: 300px; 
    object-fit: cover; 
}
.info-container {
    padding: 20px; 
}
.info-container h2 {
    font-size: 2.5em; 
    margin-bottom: 10px; 
}
.info-container p {
    font-size: 1em; 
    line-height: 1.5; 
}
.info-container.uno {
    margin-left: 50px; 
}
.info-container.dos {
    margin-right: 50px; 
}
/* Sección de Video ----------------------*/
.video-section {
    width: 100%; 
    display: flex; 
    justify-content: center; 
}
.video-section video {
    width: 100%; 
    height: 600px; 
    object-fit: fill; 
}
/* Sección de Esto es lo que nos hace diferentes ----------------------*/
.plantas-text-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    list-style-type: none; 
    padding: 0; 
}
.planta-text-item {
    background-color: #6A994E; 
    padding: 15px; 
    border-radius: 8px; 
    flex: 1 1 22%;  
    margin: 10px; 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}
.small-image-container {
    display: flex; 
    align-items: center; 
    margin-top: auto; 
}
.small-image-container img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 10px; 
}
.planta-text-item p {
    text-align: left; 
    margin: 0; 
    color: white; 
}
.planta-text-item .small-image-container {
    margin-top: 10px;
}
/* Suscribirse -------------------------------------*/
.suscribirse-container {
    background-color: #b0b0b0; 
    padding: 70px 0;
}
.suscribirse-texto-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 30px; 
    gap: 20px;
}
.suscribirse-texto-content h2 {
    font-size: 30px; 
}
.suscribirse-texto-content p {
    font-size: 18px; 
    color: #333;
}
.small-image img {
    width: 75px; 
    height: 75px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.suscribirse-linea-images {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: 0;  
    margin: 40px 0; 
}
.suscribirse-linea-images img {
    width: 20%;  
    max-height: 300px;  
    height: auto;  
    object-fit: cover; 
}
.suscribirse-cuadros-items {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center; 
}
.suscribirse-cuadro-item {
    background-color: #f4f4f4; 
    padding: 20px; 
    width: 270px; 
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 15px; 
}
.suscribirse-cuadro-item img {
    width: 50px;  
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.suscribirse-cuadro-item h3 {
    font-size: 18px;
    margin: 0;
}
.suscribirse-cuadro-item p {
    font-size: 14px;
    color: #555;
    margin: 0; 
}
/* Footer --------------------------*/
footer {
    background-color: #333; 
    color: white;
    padding: 20px;
    text-align: center;
}
.footer-container {
    margin: 0 20px; 
    text-align: left; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.footer-container p {
    margin: 10px 0; 
}
.footer-container a {
    color: #90CAF9;
    text-decoration: none;
}
.social-links {
    display: flex; 
    gap: 20px; 
}
.logo-container {
    display: flex;
    gap: 5px; 
}
.logo {
    width: 30px; 
    height: auto; 
}
@media screen and (max-width: 590px) {
    .video-section video {
        height: 300px; 
    }
    .hero-portada {
        flex-direction: column; 
        align-items: center; 
    }
    .hero-portada-text {
        width: 90%; 
        padding: 15px; 
        text-align: center; 
    }
    .hero-portada-image {
        display: none;

    }
    .hero-portada-text h1 {
        font-size: 2.5em;
    }

    .hero-portada-text p {
        font-size: 1.2em; 
    }
    .section.caracteristicas {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
    }
    .caracteristica-izquierda, .caracteristica-derecha, .caracteristica-abajo {
        width: 100%; 
        text-align: center; 
    }
    .caracteristica-izquierda h3, .caracteristica-derecha h3, .caracteristica-abajo h2 {
        font-size: 2rem; 
    }
    .cuidado-alimentacion-section .cuidado-alimentacion-caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
    }
    .caja {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        margin-bottom: 20px; 
        width: 100%; 
        max-width: 400px; 
    }
    .image-container, .info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        max-width: 100%; 
        margin: 0; 
    }
    .info-container.uno,
    .info-container.dos {
        margin: 0; 
    }
    .image-container {
        margin-bottom: 15px; 
        margin-top: 15px;
    }
    .info-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: 0 15px; 
    }
    .info-container h2 {
        margin-bottom: 10px; 
    }
}
@media (max-width: 761px) {
    .plantas-img-container {
        display: flex; 
        justify-content: space-between; 
        flex-wrap: wrap; 
        list-style: none; 
        padding: 0; 
        margin: 0; 
        width: 100%; 
    }
    .planta-img-item {
        width: 48%; 
        text-align: left; 
        margin: 10px 0; 
    }
    .planta-img-item img {
        width: 100%;
        height: 250px; 
        object-fit: cover;
    }
    .planta-img-item p {
        font: 1em; 
        margin: 10px 0;
    }
}
@media (max-width: 596px) {
    .plantas-text-container {
        display: flex;
        list-style-type: none;
        width: 100%; 
    }
    .planta-text-item {
        flex: 1 1 100%; 
        margin: 5px 0;  
    }
    .suscribirse-texto-content h2 {
        font-size: 20px; 
    }
    .suscribirse-texto-content p {
        font-size: 14px; 
    }
    .suscribirse-cuadro-item {
        text-align: center; 
        align-items: center; 
        width: 80%;
    }
    .suscribirse-cuadro-item img {
        width: 40px;  
        height: 40px;
    }
    .suscribirse-cuadro-item h3 {
        font-size: 16px; 
    }

    .suscribirse-cuadro-item p {
        font-size: 12px; 
    }
}