* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    color: #333;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
/* Header ----------------------------------*/
header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-titulo, .nav-logoimagen {
    margin: 0; 
}
.nav-navegador {
    flex: 1; 
    display: flex; 
    justify-content: center; 
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
.nav-logoimagen {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/*Portada------------------------------------------------*/
.portada-container {
    width: 100%; 
    height: 400px; 
    background-image: url('img/portada2.jpg'); 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.portada-container h2 {
    color: white;
    font-size: 4em; 
    background-color: rgba(0, 173, 255, 0.5);
    text-align: center; 
}
/* Sección de Cuidados y Alimentacion----------------*/
.cuidado-alimentacion-section {
    max-width: 80%; 
    padding: 70px 0; 
    margin: 0 auto; 
}
.cuidado-alimentacion-caja {
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    align-items: center; 
}
.caja {
    display: flex; 
    align-items: center; 
    width: 100%; 
    box-sizing: border-box; 
}
.image-container, .info-container {
    flex: 1; 
}
.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.image-container img {
    width: 80%; 
    height: 300px; 
    object-fit: cover; 
}
.info-container {
    padding: 20px; 
}
.info-container h2 {
    font-size: 2.5em; 
    margin-bottom: 10px; 
}
.info-container p {
    font-size: 1em; 
    line-height: 1.5; 
}
.info-container.uno {
    margin-left: 50px; 
}
.info-container.dos {
    margin-right: 50px; 
}
/*PRESENTACION------------------------*/
.presentacion-section {
    width: 100%; 
    height: 550px; 
    overflow: hidden; 
    background-color: rgba(0, 173, 255, 0.5); 
}

.product.presentacion {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 100%; 
}

.image-container-presentacion {
    flex: 1; 
}

.image-container-presentacion img {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: cover; 
}

.info-container-presentacion {
    flex: 2; 
    padding-left: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.info-container-presentacion h2 {
    font-size: 36px; 
    font-weight: bold; 
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

.info-container-presentacion p {
    font-size: 20px; 
    line-height: 1.5; 
    color: rgb(0, 0, 0); 
}

.presentacion-section, .product.presentacion {
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Suscribirse -------------------------------------*/
.suscribirse-container {
    background-color: #b0b0b0; 
    padding: 70px 0;
}
.suscribirse-texto-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 30px; 
    gap: 20px;
}
.suscribirse-texto-content h2 {
    font-size: 30px; 
}
.suscribirse-texto-content p {
    font-size: 18px; 
    color: #333;
}
.small-image img {
    width: 75px; 
    height: 75px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.suscribirse-linea-images {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: 0;  
    margin: 40px 0; 
}
.suscribirse-linea-images img {
    width: 20%;  
    max-height: 300px;  
    height: auto;  
    object-fit: cover; 
}
.suscribirse-cuadros-items {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center; 
}
.suscribirse-cuadro-item {
    background-color: #f4f4f4; 
    padding: 20px; 
    width: 270px; 
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 15px; 
}
.suscribirse-cuadro-item img {
    width: 50px;  
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.suscribirse-cuadro-item h3 {
    font-size: 18px;
    margin: 0;
}
.suscribirse-cuadro-item p {
    font-size: 14px;
    color: #555;
    margin: 0; 
}
/* Footer --------------------------*/
footer {
    background-color: #333; 
    color: white;
    padding: 20px;
    text-align: center;
}
.footer-container {
    margin: 0 20px; 
    text-align: left; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.footer-container p {
    margin: 10px 0; 
}
.footer-container a {
    color: #90CAF9;
    text-decoration: none;
}
.social-links {
    display: flex; 
    gap: 20px; 
}
.logo-container {
    display: flex;
    gap: 5px; 
}
.logo {
    width: 30px; 
    height: auto; 
}
@media screen and (max-width: 590px) {
    .section.caracteristicas {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
    }
    .caracteristica-izquierda, .caracteristica-derecha, .caracteristica-abajo {
        width: 100%; 
        text-align: center; 
    }
    .caracteristica-izquierda h3, .caracteristica-derecha h3, .caracteristica-abajo h2 {
        font-size: 2rem; 
    }
    .cuidado-alimentacion-section .cuidado-alimentacion-caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
    }
    .caja {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        margin-bottom: 20px; 
        width: 100%; 
        max-width: 400px; 
    }
    .image-container, .info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        max-width: 100%; 
        margin: 0; 
    }
    .info-container.uno,
    .info-container.dos {
        margin: 0; 
    }
    .image-container {
        margin-bottom: 15px; 
        margin-top: 15px;
    }
    .info-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: 0 15px; 
    }
    .info-container h2 {
        margin-bottom: 10px; 
    }
    .presentacion-section {
        height: auto; 
    }

    .product.presentacion {
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        text-align: center; 
    }

    .image-container-presentacion {
        flex: none; 
        width: 100%; 
        height: 250px; 
        margin-bottom: 20px; 
    }

    .info-container-presentacion {
        flex: none; 
        width: 100%; 
        padding-left: 0; 
    }

    .info-container-presentacion h2 {
        font-size: 28px; 
        margin-bottom: 10px; 
    }

    .info-container-presentacion p {
        font-size: 13px; 
        padding-bottom: 10px;
    }
}
@media (max-width: 596px) {
    .suscribirse-texto-content h2 {
        font-size: 20px; 
    }
    .suscribirse-texto-content p {
        font-size: 14px; 
    }
    .suscribirse-cuadro-item {
        text-align: center; 
        align-items: center; 
        width: 80%;
    }
    .suscribirse-cuadro-item img {
        width: 40px;  
        height: 40px;
    }
    .suscribirse-cuadro-item h3 {
        font-size: 16px; 
    }

    .suscribirse-cuadro-item p {
        font-size: 12px; 
    }
}